
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    //CSS
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS

    .best-offer {
        &__title {
            margin-bottom: 40px;
        }
        &__image-wrapper {
            margin-top: 130px;
        }
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS

    .header-nav {
        // text-align: right;
        &__item {

            & + & {
                margin-left: 15px;
            }
        }
    }

    .offers {
        &-search__label {
            &:after {
                // right: 75px;
            }
        }
    }

    .best-offer {
        &__title {
            margin-bottom: 10px;
        }
        &__image-wrapper {
            margin-top: 200px;
        }
    }

    .connect {
        padding: 120px 0;
        &__title {
            font-size: 64px;
            margin-bottom: 40px;
        }
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 767px) {
    
    //CSS
    .header-wrapper {
        padding-bottom: 20px;
    }
    
    .header-logo {
        text-align: center;
        margin-bottom: 15px;
    }

    .header-nav {
        line-height: 16px;
        text-align: center;
        &__list {
            padding-left: 0;
        }
        &__item {
            font-size: 14px;
            & + & {
                margin-left: 5px;
            }
        }
        &__search {
            display: none;
        }
    }

    .header-info {
        &__title {
            font-size: 40px;
        }
        &__descr {
            font-size: 14px;
        }
        &__btn {
            font-size: 12px;
            padding: 15px;
            margin-bottom: 100px;
        }
        &__caption {
            font-size: 14px;
        }
    }

    .offers {
        &__descr {
            font-size: 24px;
        }
        &__search {
            width: 90%;
            // padding: 15px 5px 15px 25px;
        }
        &-search__label {
            width: 90%;
            &::after {
                // top: 15px;
                // right: 30px;
            } 
        }
        &-btns {
            width: 90%;
            text-align: center;
            &__category {
                margin-bottom: 10px;
            }
            &__cities {
                text-align: center;
            }
        }
        &-card {
            width: 46%;
            &:nth-child(3n+2){
                margin: 0;
            }
            &__town {
                font-size: 22px;
            }
            &__btn {
                &:not(.active){
                    padding: 8px;
                }
                &--active {
                    padding: 8px;
                }
            }
        }
    }
    .best-offer {
        &__title {
            font-size: 26px;
            margin: 35px 0;
        }
        &__caption {
            font-size: 22px;
            margin-bottom: 15px;
        }
        &__text {
            margin-bottom: 12px;
        }
        &__offer-btn {
            padding: 10px 20px;
            margin-bottom: 70px;
        }
        &__image-wrapper {
            display: none;
        }
    }
    .connect {
        padding: 50px 0;
        &__title {
            font-size: 46px;
            margin-bottom: 20px;
        }
        &__sign-btn {
            padding: 15px 25px;
            margin-bottom: 35px;
        }
        &__descr {
            font-size: 14px;
        }
    }
  }