@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  text-decoration: none;
  color: #23527c;
}

.header-wrapper {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 150px;
}

.header-top {
  margin-bottom: 80px;
}

.header-logo__link {
  color: white;
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  line-height: 61px;
}

.header-logo__image {
  height: 61px;
}

.header-nav {
  line-height: 61px;
}

.header-nav__list {
  margin-bottom: 0;
}

.header-nav__item {
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  display: inline-block;
}

.header-nav__item + .header-nav__item {
  margin-left: 45px;
}

.header-nav__search-icon {
  cursor: pointer;
}

.header-nav__link {
  color: white;
}

.header-info__title {
  font-size: 92px;
  font-weight: 700;
  color: white;
}

.header-info__title span {
  color: #ed6950;
}

.header-info__descr {
  font-size: 18px;
  margin-bottom: 40px;
  color: #fff;
}

.header-info__btn {
  text-transform: uppercase;
  display: block;
  padding: 20px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffc74a;
  border: none;
  margin: 0 auto;
  margin-bottom: 265px;
}

.header-info__caption {
  font-size: 18px;
  color: white;
  /*text-align: center;*/
}

.offers {
  background-color: #fafafb;
  padding-top: 50px;
  padding-bottom: 25px;
}

.offers__descr {
  font-size: 36px;
  color: #606f81;
  font-weight: 700;
  margin-bottom: 45px;
}

.offers__search {
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
          box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
  width: 70%;
}

.offers-search__label {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
}

.offers-search__label::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/Search.png") top center no-repeat;
  background-size: cover;
  position: absolute;
  top: 16px;
  right: 15px;
}

.offers-btns {
  width: 70%;
  margin: 25px auto;
}

.offers-btns button {
  padding: 7px 10px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}

.offers-btns__category {
  padding-left: 0;
  padding-right: 0;
}

.offers-btns__category button {
  color: white;
  background-color: #bdc8d9;
}

.offers-btns__category .active {
  background-color: #ffc74a;
}

.offers-btns__cities {
  padding-left: 0;
  padding-right: 0;
}

.offers-btns__cities button {
  color: #aab2bc;
  background-color: #fbfbfc;
  border: 1px solid #bdc8d9;
}

.offers-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 9px 25px 9px;
  -webkit-box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
          box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
  width: 32%;
  display: inline-block;
  margin-bottom: 15px;
}

.offers-card:nth-child(3n+2) {
  margin: 0 10px;
}

.offers-card__image {
  width: 100%;
}

.offers-card__town {
  font-size: 30px;
  font-weight: 400;
  color: #606f81;
}

.offers-card__city {
  font-size: 14px;
  color: #9fa8b2;
  margin-bottom: 22px;
}

.offers-card__btn:not(.active) {
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  color: #c1ccdc;
  -webkit-box-shadow: 0px 0px 54px 0px rgba(141, 148, 169, 0.25);
          box-shadow: 0px 0px 54px 0px rgba(141, 148, 169, 0.25);
}

.offers-card__btn--active {
  padding: 10px 20px;
  background-color: #ffc74a;
  color: #be8505;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.best-offer {
  background-color: #f9eaea;
}

.best-offer__title {
  font-size: 36px;
  color: #606f81;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 100px;
}

.best-offer__text {
  font-size: 14px;
  color: #606f81;
  line-height: 2;
  margin-bottom: 40px;
}

.best-offer__caption {
  font-size: 30px;
  font-weight: 700;
  color: #ffc74a;
  margin-bottom: 45px;
}

.best-offer__image-wrapper {
  border: 15px solid #ffc74a;
}

.best-offer__image {
  width: 100%;
  position: relative;
  left: -50px;
  top: -45px;
}

.best-offer__offer-btn {
  padding: 20px 45px;
  background-color: #ffc74a;
  color: #be8505;
  border: none;
  border-radius: 30px;
  margin-bottom: 140px;
  text-transform: uppercase;
  font-weight: 700;
}

.connect {
  background-image: url(../img/product_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
}

.connect__title {
  font-size: 92px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px;
}

.connect__sign-btn {
  text-transform: uppercase;
  padding: 20px 45px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffc74a;
  border: none;
  margin-bottom: 265px;
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
}

.connect__descr {
  font-size: 18px;
  color: #fff;
}

.connect__link {
  color: #ffc74a;
}

::-webkit-input-placeholder {
  font-size: 18px;
  color: #a0a9b3;
}
/*# sourceMappingURL=style.css.map */